PORT=3417
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_CLUSTER=devnet
PROGRAM_ID=6PFsiUA7sX5j96pzK7zxLbpFpsJXNLkfwQPYyd4UNFTy
TOKEN_MINT=SET_AFTER_TOKEN_CREATION
TREASURY_WALLET=4F66AtVCpftxwQ8SbcFdXkyCcubvfMhUpHddJ4AtN5HY
DATABASE_PATH=./data/gitstarter.sqlite
